doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='Portfolio de um desenvolvedor e designer que abre o Sketch só pra se distrair')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title Portfolio - RCRD

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body

    header.header
      div.DEF_wrapper.header__wrp
        nav.header__nav.header__nav--desktop
          ul.header__nav__list
            li.header__nav__list__item
              a(href="https://rcrd.me")
                img.header__nav__list__item__logo(src="assets/img/logo.svg")
            li.header__nav__list__item
              a.header__nav__list__item__link#menuPortfolio(href="/") Portfolio

        hr.header__line



    section.portfolio#portfolio
      .portfolio__wpr.DEF_wrapper

        ul.portfolio__card-grid#portfolioCardGrid



    footer.footer
      div.DEF_wrapper.footer__wrp
        p.footer-text RCRD - All content under MIT*. Pictures, icons and logos that may be protected under owner licenses.


    //- JS scripts
    //- ===================================
    script(async, src='js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='assets/css/style.min.css')
